.text-right {
    text-align: right;
}

.ml-auto {
    margin-left: auto;
}

h4.wb img {
    width: 48px;
    border-radius: 50%;;
}

#bottomNav.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#bottomNav {
    background-color: var(--bg-secondary);
    color: #fff;
}

#bottomNav.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem 1rem;
}

#bottomNav.navbar-light .navbar-nav .nav-link.active {
    color: var(--main) !important;
    border-bottom: 2px solid var(--main)
    /* border-bottom: 2px solid var(--main) */
}

.nav-slider {
    position:absolute;
    border-bottom: 2px solid var(--main);
    height: 100%;
    transition: all ease-in-out .1s;
}

#dash-content {
    margin-top: 200px
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: var(--border-radius);
    background-color: #ffffff;
    background-clip: border-box;
    color: #000;
    cursor: pointer;
    transition: var(--transition);
}

.card:hover {
    box-shadow: none!important;
}

.card-body {
    padding: 1.5rem;
    flex: 1 1 auto;
}

.card-title {
    margin-bottom: 1.25rem;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.icon i {
    font-size: 2.25rem;
}

.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon-shape i {
    font-size: 1.25rem;
}

.bg-color-services {
    color: #dc3545;
    background-color: rgba(220, 53, 69, .3)
}

.bg-color-noti {
    color: #ffb108;
    background-color: rgba(255, 177, 8, .3)
}

.bg-color-ref {
    color: #0898ff;
    background-color: rgba(8, 152, 255, .3)
}

.bg-color-credits {
    color: #24bf27;
    background-color: rgba(36, 191, 39, .3)
}

.text-success {
    color: #00e05d!important;
}

.transactions p {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    margin-bottom: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.nav-slider {
    position: absolute;
}

.credit-Btn {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

.payment-Btn, .checkout-Btn {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 30px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

.credit-Btn .get-started, .payment-Btn .get-started {
    border-radius: var(--border-radius);
}

.checkout-Btn {
    color: var(--main);
    background-color:var(--bg-secondary)
}

.checkout-Btn:hover {
    background-color: #000;
    color: #fff;
}

.credit-Btn h4, .checkout-Btn h4 {
    margin-bottom: 0;
}

.payment-Btn img {
    height: 64px
}

.credit-Btn:hover, .payment-Btn:hover, .checkout-Btn:hover {
    box-shadow: none!important
}

.inactive {
    filter: saturate(0) opacity(.7)
}