:root {
    --main: #33adff;
    --main-hover: #1195f7;
    --border-radius: 28px;
    --color: #707070;
    --border-color: #F2F2F2;
    --bg-secondary: #0E2534;
    --transition: all .3s ease-in-out;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    background-color: #ffffff;
    color: #707070;
    font-family: Bahnschrift, 'sans-serif';
    overflow-x: hidden;
}
*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 15px;
    transition: all ease-in-out 0.2s;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-hover);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-secondary);
}

* {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
    outline: none;
}

a {
    color: var(--main);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--main-hover);
}

.main-btn {
    background-color: #283D8D;
    padding: 15px 20px;
    border-radius: 12px;
    color: #fff;
    transition: var(--transition);
}

.main-btn:hover,.main-btn-sm:hover, .main-btn-lg:hover {
    background-color: #223377;
    color: #fff;
}

.main-btn-sm {
    background-color: #283D8D;
    padding: 10px 15px;
    border-radius: 12px;
    color: #fff;
    transition: var(--transition);
}

.main-btn-lg {
    background-color: #283D8D;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 26px;
    color: #fff;
    transition: var(--transition);
}

.header-shapes {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.bg-left {
    position: absolute;
    top: 140px;
    width: 679px;
    height: 629px;
    left: -170px;
    background-image: url(../img/triangle.png);
}

.bg-right {
    position: absolute;
    top: 0;
    width: 1275px;
    height: 777px;
    right: -139px;
    background-image: url(../img/bg-left.png);
}

.bg-bottom-right {
    position: absolute;
    bottom: -340px;
    width: 393px;
    height: 393px;
    right: 0;
    background-image: url(../img/Squares.png);
}

.pbg-bottom-left {
    position: absolute;
    bottom: -128px;
    width: 300px;
    height: 300px;
    left: -43px;
    background-image: url(../img/Squares.png);
}

.pbg-top-right {
    position: absolute;
    top: -240px;
    width: 393px;
    height: 393px;
    right: 250px;
    background-image: url(../img/Squares.png);
    z-index: -1;
}

.pbg-middle-right {
    position: absolute;
    top: 30%;
    width: 560.89px;
    height: 521.02px;
    right: 250px;
    background-image: url(../img/triangle.png);
    background-size: cover;
}

.navbar-light {
    background-color: #fff;
    border-bottom: 3px solid var(--border-color)
}

.navbar-light .navbar-brand img {
    width: 64px;
    height: 64px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #021767;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.header .text-container, {
    margin-top: 150px
}

.header .text-container h2 {
    font-weight: 800;
    font-size: 36px;
}

.header .text-container {
    font-size: 24px;
}

.games-supported {
    margin-top: 100px
}

.games-supported .row {
    justify-content: space-between!important;
}

.game-box {
    background-color: #fff;
    padding: 25px;
    border-radius: var(--border-radius);
    transition: var(--transition);
    overflow: hidden;
    cursor: pointer;
}

.game-box img {
    height: 100px;
    width: auto;
}

.game-box h4 {
    margin-top: 14px;
    text-transform: uppercase;
}

.get-started {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.game-box:hover {
    transform: scale(1.03);
}

.game-box:hover .get-started, .pricing-box:hover .get-started {
    visibility: visible;
    opacity: 1;
}

.get-started .gs-btn {
    padding: 7px 20px;
    background-color: var(--main);
    color: #fff;
    border-radius: 12px;
    transition: var(--transition);
}

.get-started .gs-btn:hover {
    background-color: var(--main-hover)
}

/* SECTION: FEATURES */

.features {
    background-color: var(--bg-secondary);
}

.features .section-title h2 {
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}

.features .section-title h2::before {
    content: attr(bg-char);
    top: -60px;
    position: absolute;
    font-weight: 800;
    font-size: 140px;
    letter-spacing: 15px;
    color: #fff;
    opacity: .25;
    left: 0;
    right: 0;
}

.features-container {
    margin-top: 100px;
}

.features-container i {
    font-size: 48px;
    color: var(--main)
}

.features-container p {
    margin-bottom: 0;
}

.feature-box {
    padding: 25px;
    background-color: #fff;
    transition: var(--transition);
    cursor: pointer;
}

.features-container .col-md-5 .feature-box:first-child {
    border-top-left-radius: var(--border-radius);;
}

.features-container .col-md-5 .feature-box:last-child {
    border-bottom-left-radius: var(--border-radius);;
}

.feature-box.active {
    color: #fff;
    background-color: #08151d;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.feature {
    display: none;
    background-color: #08151d;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    min-height: 100%
}

.active-feature {
    display: block;
}

.features .section-footer h2 {
    margin-top: 50px;
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}

svg.main {
    -webkit-filter: drop-shadow( -1px -3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( -1px -3px 2px rgba(0, 0, 0, .7))
}

svg.bottom {
    -webkit-filter: drop-shadow( -1px -3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( -1px -3px 2px rgba(0, 0, 0, .7));
    margin-top: -5px;
    transform: rotate(180deg);
}

.pricing-box {
    border-radius: var(--border-radius);
    color: #fff;
    background-color: #283D8D;
}

.pricing-box .get-started {
    border-radius: var(--border-radius);
}

.pricing .col-md-4:first-child .pricing-box, .pricing .col-md-4:first-child .pricing-box .get-started {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pricing .col-md-4:last-child .pricing-box {
   box-shadow: -1px 4px 12px 0px #00000080;
}

.pricing-box .pricing-header {
    padding-top: 30px;
}

.pricing-box h4 {
    font-size: 38px;
}

.pricing-box .pricing-fts {
    padding: 0 30px 0px 30px;
}

.pricing .col-md-4:first-child .pricing-box .pricing-fts{
    padding: 0 30px 30px 30px;
}

.pricing-box .pricing-fts p:first-child {
    margin-top: 25px;
}

.pricing .col-md-4:first-child .pricing-box p:first-child {
    margin-top: 0px;
}

.pricing-box p {
    font-size: 22px;
}

.pricing-footer {
    margin-top: calc(25px + .5rem);
    background-color: #233474;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding: 10px;
    
}

.pricing-footer p {
    font-size: 32px;
    color: #fff;
}

/* Footer */

footer {
    background-color: var(--bg-secondary);
}

footer .gst {
    margin-top: -30px;
    padding-bottom: 4rem;
    color: #fff;
}

footer .gst h2 {
    font-size: 38px;
}

footer .gst p {
    margin-bottom: 1rem;
}

footer .copyright {
    background-color: #08151d;
    padding: 15px 0;
}

footer p, footer a {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
    color: #fff;
    vertical-align: middle;
    transition: var(--transition);
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    z-index: 1030;
    transition: all .3s ease-in-out;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
}

.scrolled-up {
    background-color: #fff;
    transform: translateY(0);
}

@media only screen and (min-width:768px) {

    .m-h-100 {
        min-height: 100%;
    }

    .m-pe-0 {
        padding-right: 0!important;
    }

    .m-ps-0 {
        padding-left: 0!important;
    }

    .pricing .col-md-4:first-child {
        width: 30%;
    }

}

@media only screen and (max-width:768px) {

    .header h1 {
        margin-bottom: 0;
        font-size: 54px;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-text-center {
        text-align: center!important;
    }

    .pricing .col-md-4:first-child .pricing-box {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    .pricing .col-md-4:last-child .pricing-box {
        margin-top: 1rem;
    }

    .header-shapes {
        display: none;
    }

    .game-box {
        margin-top: 1rem;
    }

    .smart-scroll {
        position: relative
    }

    .features .section-title h2::before {
        display: none;
    }

    .features .section-title h2 {
        padding-top: 24px;
    }

    .features-container {
        margin-top: 0px;
    }

    .feature-box.active {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    .feature-box {
        margin-top: 1rem; 
        border-radius: var(--border-radius);
    }

    .m-d-none {
        display: none;
    }

    .pricing .col-md-4:first-child .pricing-box, .pricing .col-md-4:first-child .pricing-box .get-started {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    footer .gst {
        margin-top: 0px;
    }
}