<!DOCTYPE html>
<html lang="en">

<head>
    <title>OPALITE</title>
    <%- include('head', {page: `dashboard`}); %>
</head>

<body style="min-height: 100vh;">
    <div class="header" id="home">
        <%- include('navbar', {page: `dashboard`, isLoggedIn: true}); %>
    </div>

    <section id="dash-content">
        
    </section>
</body>

</html>