<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <%- include('head', {}); %>
</head>

<body>
    Hey! Your id: <%= userId %> You have <%= credits %><br />
    <a href="/create?amount=5">Pay 5</a> <br />
    <a href="/create?amount=20">Pay 20</a>
</body>

</html>