<!DOCTYPE html>
<html lang="en">

<head>
    <title>OPALITE</title>
    <%- include('head', {page: `index`}); %>
</head>

<body>
    <div class="header-shapes">
        <div class="bg-right"></div>
        <div class="bg-left"></div>
        <div class="bg-bottom-right"></div>
    </div>
    <div class="header" id="home">
        <%- include('navbar', {page: `index`}); %>

        <div class="container text-container">
            <div class="row">
                <div class="col-md-6 pr-5">
                    <div class="row m-h-100">
                        <div class="col-md-12 my-auto mobile-text-center">
                            <h2>ENJIN, TEBEX - IT'S TIME TO BREAK UP. SAY HELLO TO OPALITE.</h2>
                            <p>Your last and only application you will ever need to give your community the online
                                presence it needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 mobile-hide">
                    <img src="store/img/preview.png" alt="Preview" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="games-supported">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="game-box shadow text-center">
                            <img src="store/img/mc.png" alt="minecraft">
                            <h4>Minecraft</h4>

                            <div class="get-started">
                                <a href="#" class="gs-btn">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="game-box shadow text-center">
                            <img src="store/img/fivem.png" alt="minecraft">
                            <h4>Fivem</h4>

                            <div class="get-started">
                                <a href="#" class="gs-btn">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="game-box shadow text-center">
                            <img src="store/img/garrys-mod.png" alt="minecraft">
                            <h4>GMod</h4>

                            <div class="get-started">
                                <a href="#" class="gs-btn">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="game-box shadow text-center">
                            <img src="store/img/csgo.png" alt="minecraft">
                            <h4>CS:GO</h4>

                            <div class="get-started">
                                <a href="#" class="gs-btn">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="game-box shadow text-center">
                            <img src="store/img/rust.png" alt="minecraft">
                            <h4>Rust</h4>

                            <div class="get-started">
                                <a href="#" class="gs-btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="var(--bg-secondary)" fill-opacity="1"
            d="M0,96L40,117.3C80,139,160,181,240,181.3C320,181,400,139,480,117.3C560,96,640,96,720,122.7C800,149,880,203,960,229.3C1040,256,1120,256,1200,240C1280,224,1360,192,1400,176L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>

    <section class="features pb-3" id="features">
        <div class="container">
            <div class="section-title text-center">
                <h2 bg-char="FEATURES">What makes us so damn special?</h2>
            </div>
            <div class="features-container">
                <div class="row">
                    <div class="col-md-5 m-pe-0">

                        <div class="feature-box" id="feature-1-box" onclick="setActive('feature-1')">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="row h-100">
                                        <div class="col-md-12 my-auto text-center">
                                            <i class="fas fa-hand-holding-usd"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h4>Built in Web/Donation Store</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique itaque qui
                                        quidem! Pariatur.</p>
                                </div>
                            </div>
                        </div>

                        <div class="feature-box" id="feature-2-box" onclick="setActive('feature-2')">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="row h-100">
                                        <div class="col-md-12 my-auto text-center">
                                            <i class="fas fa-comments"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h4>Custom Community Forum</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique itaque qui
                                        quidem! Pariatur.</p>
                                </div>
                            </div>
                        </div>

                        <div class="feature-box" id="feature-3-box" onclick="setActive('feature-3')">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="row h-100">
                                        <div class="col-md-12 my-auto text-center">
                                            <i class="fas fa-home"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h4>All-in-one Index</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique itaque qui
                                        quidem! Pariatur.</p>
                                </div>
                            </div>
                        </div>

                        <div class="feature-box" id="feature-4-box" onclick="setActive('feature-4')">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="row h-100">
                                        <div class="col-md-12 my-auto text-center">
                                            <i class="fas fa-plug"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h4>In-Game Plugin Support</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique itaque qui
                                        quidem! Pariatur.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-7 m-d-none" style="padding-left: 1!important;">
                        <div class="row h-100">
                            <div class="col-md-12 px-0">
                                <script defer>
                                    function setActive(id) {
                                        $(".active-feature").removeClass("active-feature");
                                        $("#" + id).addClass("active-feature");

                                        $(".active").removeClass("active");
                                        $("#" + id + "-box").addClass("active");
                                    }
                                    $("#feature-1-box").click();
                                </script>
                                <div class="feature active-feature" id="feature-1">
                                    hi1
                                </div>

                                <div class="feature" id="feature-2">
                                    hi2
                                </div>

                                <div class="feature" id="feature-3">
                                    hi3
                                </div>

                                <div class="feature" id="feature-4">
                                    hi4
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-footer text-center">
                <h2>Already convinced?</h2>
                <div class="d-inline-flex mt-3">
                    <a href="#" class="main-btn">DEPLOY YOUR SITE NOW</a>
                </div>
            </div>
        </div>
    </section>

    <svg class="bottom main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="var(--bg-secondary)" fill-opacity="1"
            d="M0,96L40,117.3C80,139,160,181,240,181.3C320,181,400,139,480,117.3C560,96,640,96,720,122.7C800,149,880,203,960,229.3C1040,256,1120,256,1200,240C1280,224,1360,192,1400,176L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>

    <section class="pricing pb-3" id="pricing">
        <div class="pbg-bottom-left"></div>
        <div class="pbg-middle-right"></div>
        <div class="pbg-top-right"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 m-pe-0">
                    <div class="row m-h-100">
                        <div class="col-md-12 my-auto">
                            <div class="pricing-box text-center">
                                <div class="pricing-header">
                                    <h4>FREE</h4>
                                </div>
                                <div class="pricing-fts">
                                    <p>£300 Monthly Revenue Limit</p>
                                    <p>300 Max Registered Users</p>
                                    <p>Sub-domain use only</p>
                                    <p>Create a maximum of 1 form</p>
                                    <p>Custom Forums</p>
                                    <p class="mb-0">Normal Support</p>
                                </div>
                                <div class="get-started">
                                    <a href="#" class="main-btn-sm">COMING SOON</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 m-ps-0 text-center">
                    <div class="pricing-box text-center">
                        <div class="pricing-header">
                            <h4>PREMIUM</h4>
                        </div>
                        <div class="pricing-fts">
                            <p>Unlimited Monthly Revenue Limit</p>
                            <p>CSS & JS Injection</p>
                            <p>Custom Domain Name</p>
                            <p>Create Unlimited Forms</p>
                            <p>Player lookup / management</p>
                            <p>Completely White Label</p>
                            <p class="mb-0">Premium support</p>
                        </div>
                        <div class="pricing-footer">
                            <p class="mb-0">$5/Month</p>
                        </div>
                        <div class="get-started">
                            <a href="#" class="main-btn-sm">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">
                <a href="#" class="main-btn-lg">ALL FEATURES</a>
            </div>
        </div>
    </section>

    <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="var(--bg-secondary)" fill-opacity="1"
            d="M0,96L40,117.3C80,139,160,181,240,181.3C320,181,400,139,480,117.3C560,96,640,96,720,122.7C800,149,880,203,960,229.3C1040,256,1120,256,1200,240C1280,224,1360,192,1400,176L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>

    <footer>
        <div class="container gst text-center pb-5">
            <h2>CREATE YOUR COMMUNITIES ONLINE PRESENCE NOW</h2>
            <p>Sign up today for free to get started</p>
            <a href="#" class="main-btn">GET STARTED</a>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mobile-text-center">
                        <p>COPYRIGHT 2020 OPALITE</p>
                    </div>
                    <div class="col-md-6 mobile-text-center" style="text-align: right;">
                        <a href="#">ToS</a> | <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>