<div class="container">
    <div class="text-center">
        <h4 class="wb">Your current balance is: <%= user.credits %></h4>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-8">
            <div class="credits-form">

                <div class="row">
                    <div class="col-md-3">
                        <div class="credit-Btn text-center shadow" onclick="addCredits(500, 4.99, 1)" id="1">
                            <h4>500</h4>
                            <h4>CREDITS</h4>
                            <p>$4.99</p>

                            <div class="get-started">
                                Selected
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="credit-Btn text-center shadow" onclick="addCredits(1000, 9.99, 2)" id="2">
                            <h4>1000</h4>
                            <h4>CREDITS</h4>
                            <p>$9.99</p>

                            <div class="get-started">
                                Selected
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="credit-Btn text-center shadow" onclick="addCredits(5000, 44.99, 3)" id="3">
                            <h4>5000</h4>
                            <h4>CREDITS</h4>
                            <p>$44.99</p>

                            <div class="get-started">
                                Selected
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="credit-Btn text-center shadow" onclick="addCredits(10000, 79.99, 4)" id="4">
                            <h4>10000</h4>
                            <h4>CREDITS</h4>
                            <p>$79.99</p>

                            <div class="get-started">
                                Selected
                            </div>
                        </div>
                    </div>
                </div>

                <div class="part-two text-center mt-4">
                    <h4>Next select your payment method</h4>

                    <div class="row mt-3 d-flex justify-content-center">
                        <div class="col-md-6">
                            <div class="payment-Btn text-center shadow" onclick="setPaymentMethod('PayPal', 5)" id="5">
                                <img class="img-fluid"
                                    src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c530.png" alt="PayPal">

                                    <div class="get-started">
                                        Selected
                                    </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-6">
                            <div class="payment-Btn text-center shadow" onclick="setPaymentMethod('Stripe', 6)" id="6">
                                <img class="img-fluid"
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Stripe_Logo%2C_revised_2016.svg/1280px-Stripe_Logo%2C_revised_2016.svg.png"
                                    alt="Stripe">

                                    <div class="get-started">
                                        Selected
                                    </div>
                            </div>
                        </div> -->

                    </div>
                </div>

                <div class="part-three text-center mt-4">
                    <h4>Continue to Checkout</h4>

                    <div class="row mt-3 d-flex justify-content-center">
                        <div class="col-md-6">
                            <div class="checkout-Btn text-center shadow" onclick="checkOut()">
                                <h4>Checkout</h4>
                                <p>Amount due: <span id="amount"></span></p>
                                <p id="message"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    var Credits
                    var PM
                    function addCredits(credits, amount, boxId) {
                        Credits = credits
                        $('#amount').html("$" + amount)
                        $('.credit-Btn.selected').removeClass('selected')
                        $('#'+boxId).addClass('selected')
                    }

                    function setPaymentMethod(gateway, boxId) {
                        if (Credits != undefined && Credits !== null) {
                            PM = gateway
                            
                            if (gateway == "PayPal") {
                                $('#message').html("This will redirect you to PayPal.")
                            } else {
                                $('#message').html("We will not save any of your card information.")
                            }

                            $('.payment-Btn.selected').removeClass('selected')
                            $('#'+boxId).addClass('selected')
                        }
                    }

                    function checkOut() {
                        if (Credits != undefined && PM != undefined ) {
                            window.location.replace("/purchase/credits?credits="+Credits)
                        }
                    }
                </script>

            </div>
        </div>
    </div>
</div>